{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nisi, totam qui eum officia, 
        eveniet iure labore repellat sapiente accusantium at quasi perferendis, explicabo excepturi? 
        Fugiat vero dolorum labore consequatur? Placeat id unde mollitia. Quam odit praesentium ad laboriosam illum.</p>
    <p>Quidem laborum animi, natus beatae, aliquid ullam tempora, reiciendis eaque deleniti ratione sint.
         Est rerum deserunt ipsum eaque voluptatum maxime voluptates nobis. Beatae nam ex debitis iusto 
         omnis est porro iure saepe eum expedita at ullam veritatis consectetur, quam nisi.</p>
         
{% endblock %}